#search{
    margin: 0vw 2vw;
    padding: 2vw 0vw;
    top: 0;
    position: sticky;
    background-color: white;
}


/* SEARCH BUTTON */

.searchBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.16vw solid rgb(238, 238, 238);
    border-radius: 1.5vw;
    width: 20vw;
    height: 2.4vw;
    padding: 0vw 1vw;
    background-color: white;
}

#searchHidden{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 2vw;
    font-size: 1em;
    width: 17.5vw;
    padding: 0vw 0.5vw;
    border: none;
    outline: none;
}

.searchIcon{
    color: grey;
    font-size: 1vw;
}


/* ICONS */

.actions{
    display: flex;
    align-items: center;
}

.fa-bell, .fa-bookmark{
    font-size: 1.2vw;
    border-radius: 50vw;
    width: fit-content;
    cursor: pointer;
    background-color: rgb(234, 234, 234);
    color: black;
}
  
.fa-bell{
    padding: 0.8vw 0.9vw;
    margin-right: 0.7vw;
}

.fa-bookmark{
    padding: 0.8vw 0.95vw;
    margin-left: 0.7vw;
}
  
.fa-bell:hover, .fa-bookmark:hover{
    color: white;
    background-color: black;
}

/* NEWS CATEGORY SECTION */

.newsCategory{
    margin-top: 2vw;
    padding-top: 2vw;
    position: sticky;
    border-top: 0.17vw solid rgb(232, 232, 232);
}

.activeCategory{
    background-color: black !important;
    color: white !important;
}

.newsCategory a{
    text-decoration: none;
    margin: 2.5vw 0.5vw;
    border-radius: 1.5vw;
    padding: 0.3vw 1vw;
    color: black;
    background-color: rgb(229, 229, 229);
}

.newsCategory a:hover{
    background-color: black;
    color: white;
}


/* UTILITIES */

.justifyBetween{
    display: flex;
    justify-content: space-between;
}

.alignCenter{
    display: flex;
    align-items: center;
}